.createPost{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.main_div{
    border-top: 1px solid rgb(173, 173, 173) ;
}
.post_header{
    display: flex;
}

.post_btn{
    border: none;
    color: #339ce3;
    background:none;
    font-weight: bolder;
    cursor: pointer;
}

.details{
    border-top: 1px solid rgb(173, 173, 173) ;
}

textarea{
    width: 90%;
    border: none;
    outline: none;
}

.output_div{
    width: 300px;
    border: none;
    outline: none;
    margin-top: 5px;
}